#!/bin/bash

# Copy this file to "config" and update to reflect your local settings

CWD=$(pwd)

# If you want to test with mvn jetty:run -Pwebac, set this to 1 to use the correct users and passwords.
USE_JETTY=0

if [ "$USE_JETTY" -eq 1 ]; then
  # Admin user
  AUTH_USER="admin1"
  AUTH_PASS="password3"
  # User 2
  AUTH2_USER="user2"
  AUTH2_PASS="password2"
  # User 3
  AUTH3_USER="user1"
  AUTH3_PASS="password1"
else
  # Admin Username.
  AUTH_USER="fedoraAdmin"
  # Admin Password.
  AUTH_PASS="secret3"

  # Test admin user
  AUTH2_USER="adminuser"
  AUTH2_PASS="password2"

  # Test user
  AUTH3_USER="testuser"
  AUTH3_PASS="password1"
fi

# Hostname for Fedora instance.
FEDORA_HOST="http://localhost"
# Port for Fedora instance.
FEDORA_PORT="8080"
# Depending on how you start the fedora server, you may need to edit this path. 
# The one click webapp doesn't have fcrepo in the path.
FEDORA_PATH="/fcrepo/rest"
# Build the full Fedora URL.
FEDORA_URL="${FEDORA_HOST}:${FEDORA_PORT}${FEDORA_PATH}"
# Directory where turtle, sparql and binary resources sit.
RSCDIR="${PWD}/resources"
# Default options for cURL
CURL_OPTS="-s -o /dev/null --write-out %{http_code} --no-keepalive -i"
# cURL options to not alter response
CUSTOM_CURL_OPTS="-s --no-keepalive -i"
# Solr URL (for camel-toolbox tests)
SOLR_URL="http://localhost:8080/solr/collection1"
# Triplestore URL (for camel-toolbox tests)
TRIPLESTORE_URL="http://localhost:8080/fuseki/test/sparql"


# include shared functions
. ./functions
